# Puerto del servidor
PORT=3001

# Credenciales de PostgreSQL
DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=escuela_futbol

# JWT Secret (para uso futuro)
JWT_SECRET=tu_super_secreto_key

